:root{
    --light-green:#abafb5;
    --light-green:#677e8a;
    --dark-green:#122e34;
    --dark-green:#0e1d21;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1, h3{
  color:#13262b; ;
}

 h3{
    font-weight:600px ;
 } 
 h2{
    color: #d8dce3;
 }
P{
    color: #122e34;
    font-size: 14px;
}

/* home start*/
header{
    margin-top: 20px;
}
#home .navbar nav {
    display: flex;
    justify-content: space-between;
    background-color:#122e34;
    align-items: center;
    margin: auto;
    min-height: 100px;
    padding: 0 2rem;
}
.text-primary{
    color:#e5e6ee ;
}
#home .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s eas;
}
.controls-container {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    padding-right: 20px;
    clear: both;
    gap: 10px;
    background-color: #122e34; 
    top: 70px;
    z-index: 9999; 
    right: 1rem;
    padding: 20px px;
    border-radius: 8px;
    transition: all 0.3s;
}
#btn.mode-btn {
    color:#888;
    background-color: #0e1d21;
}

body {
    background-color: white;
    color: black;
    transition: 0.5s; 
}
body.dark-theme {
    background-color: #122e34; 
    color: white;
}
body.dark-theme .navbar{
    background-color: #3e5769;
}
.but {
    color: #888;
    background-color:#0e1d21 ;
}
body.alt-layout .navbar nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;           
    height: 100vh;          
    background-color: #122e34; 
    display: flex;
    flex-direction: column;  
    align-items: center;    
    padding: 40px 10px;     
    z-index: 1000;
}
body.alt-layout .navbar .logo {
    flex-direction: column;     
    margin-bottom: 30px;    
    width: auto;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-right: 200px;
    order: 1;

}
 body.alt-layout .navbar ul {
            
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    order: 2;
    margin-bottom: 1000px;
    margin-right: 110px;
    justify-content: center;
    text-align: center;
}
body.alt-layout  .controls-container {
               
    margin-top: auto;      
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    margin-right: 80px;
    
}

navbar ul li a:hover{
    color: rgb(16, 11, 20);
}

#home .navbar{
    display: block;
    height: auto;
justify-content: flex-start;

}

#home .navbar nav ul.vertical-nav {
    display: block ;
    flex-direction: column ; 
    position: absolute ;
    top: 100px;
    right: 2px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    margin-left: 1px;
    background-color: rgb(30, 28, 28);
    padding: 15px 0;
    display: block;
}


#home .navbar nav ul{
    display: flex;
}
#home .navbar nav ul a{
    margin: 0 15px;
    color: #677e8a;
    font-weight: 500;
}
#home .navbar nav ul a:hover{
    color:#d8dce3 ;
    transition: all 0.3s ease;
}
#home .navbar .logo {
    width: 25px;
    font-size: 30px;
    color:#d8dce3;
    font-weight: 900;
} 
.home-content{
    background: url(./WhatsApp\ Image\ 2026-05-04\ at\ 12.53.33\ AM.jpeg) no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
#home .home-content .col{
    width: 1200px;
    margin: auto;
    padding: 0 2rem;

}
#home .home-content .col small {
     font-weight: 500px;
     font-size: 14px;
     letter-spacing: 1px;
}
#home .home-content .col h1{
    font-size: 40px;
    min-width: 600px;
    line-height: 1.4;
}
#home .home-content .col h1 i{
    font-size: 50px;
}
#doctors-card {
    border: 2px solid #041724;
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
    background-color:#677e8a;
    box-shadow:  0 4px 10px;
    margin: 40px auto;
}
#doctors h2 {
    padding: 1rem;
    font-weight: 600;
    
    
}
.item-details{
    padding: 2rem 0;  
}
#doctors .item-details h3 {
    font-size: 30px;
    margin: auto;
    justify-content: center;
    display: flex;
}
#doctors .item-details p{
    font-size: 20px;
    justify-content: center;
    display: flex;
    margin: 10px 0 20px;
    font-weight: 600;
}
#doctors .item-details p span{
    font-size: 15px;
}

#doctors img {
    width: 100%;
    height: px;
    padding-top: 2rem;
    padding: 2rem;
}
#doctors .btn-primary  {
     background-color: #122e34;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition:  0.3s;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70px;
    text-align: center;
    margin: auto;
}
.modal-overlay {
    position: fixed;
    z-index: 9999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-card {
    background-color: #fff;
    margin: 15% auto;
    padding: 25px;
    border: 1px solid #888;
    width: 400px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.close-icon {
    position: absolute;
    right: 15px; top: 5px;
    font-size: 28px;
    cursor: pointer;
    color: #333;
}
.appointment-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #abafb5;
    border-radius: 15px;
    max-width: 600px;
    margin: 20px auto;
}

.doctor-name {
    color: #020d18;
    margin-bottom: 5px;
    font-weight: 900;
}

.instruction {
    color: #122e34;
    margin-bottom: 30px;
    font-weight: 500;
}

.slots-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.time-card {
    background: #677e8a;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    padding: 20px;
    width: 180px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.date-header {
    font-weight: bold;
    color: #34495e;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700px;
}

.time-info {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.p {
    color: #041c1f;
    font-size: 15px;
    font-weight: 700;
}

/* الكارت المتاح */
.time-card.available:hover {
    border-color: #3e5769;
    transform: translateY(-5px);
}

/* زر التأكيد */
.confirm-btn {
    background-color: #0e1d21;
    border: none;
    margin-top:  20px ;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition:  0.3s;
    font-weight: 500;
}
.confirm-btn {
    color: #677e8a;
}
footer p {
    justify-content: center;
    display: flex;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #677e8a;
    margin-bottom: 30px;
}
body{
    background-color: #333;
}

